@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap");

:root {
    --primary: #ffa500;
    --primaryLight: #ffa500;
    --secondary: #ffa500;
    --headerColor: #f7faf7;
    --headerColorBlack: #000;
    --background: #000;
    --backgroundMain: #100;
    --bodyTextColor: #f7faf7;
    --bodyTextColorWhite: #fafbfc;
    --bannerFontSize: clamp(2.4375rem, 3.9vw, 3.0625rem);
    --topperFontSize: clamp(0.8125rem, 1.6vw, 1rem);
    --headerFontSize: clamp(1.9375rem, 3.9vw, 3.0625rem);
    --bodyFontSize: 1rem;
    --sectionPadding: clamp(3.75em, 7.82vw, 6.25em) 1rem;
}

::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background: var(--background);
}
::-webkit-scrollbar-thumb {
    background: var(--primary);
}

* {
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}
body {
    background: var(--background);
    color: var(--bodyTextColor);
}
#main {
    width: 100%;
    height: auto;
    background: var(--backgroundMain);
}
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 10%;
    background: var(--background);
}
nav .fas {
    display: none;
}
.logo {
    margin-top: 4px;
    width: 140px;
}
nav ul li {
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}
nav ul li a {
    color: var(--bodyTextColor);
    text-decoration: none;
    font-size: 18px;
    position: relative;
}
nav ul li a::after {
    content: "";
    width: 0%;
    height: 3px;
    background: var(--primary);
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}
nav ul li a:hover::after {
    width: 100%;
}
nav ul li a.main-link::after {
    width: 50%;
}

/*-- -------------------------- -->
<---       Side By Side         -->
<--- -------------------------- -*/

@media only screen and (min-width: 0em) {
    #sbs-r {
        text-align: center;
        padding: var(--sectionPadding);
    }
    #sbs-r .cs-container {
        width: 100%;
        max-width: 80rem;
        margin: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    #sbs-r .cs-left {
        width: 100%;
        max-width: 34.375rem;
        margin: 0 auto clamp(4.875rem, 16.5vw, 6.75rem);
        position: relative;
        display: block;
        aspect-ratio: 0.90358127;
    }
    #sbs-r .cs-picture {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        display: block;
    }
    #sbs-r .cs-picture img {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        border-radius: 0.625rem;
        object-fit: cover;
    }
    #sbs-r .cs-box {
        width: clamp(12.75rem, 50vw, 20.375rem);
        height: clamp(12.75rem, 50vw, 20.375rem);
        border-radius: 0.625rem;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        position: absolute;
        left: 50%;
        bottom: calc(clamp(2.375rem, 7.9vw, 3.75rem) * -1);
        transform: translateX(-50%);
        z-index: 1;
    }
    #sbs-r .cs-box-picture {
        width: 100%;
        height: 100%;
        background-color: var(--background);
        border-radius: 0.625rem;
        overflow: hidden;
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        z-index: -1;
    }
    #sbs-r .cs-box-picture img {
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0.65;
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
    #sbs-r .cs-number {
        font-size: clamp(4.6875rem, 8vw, 6.25rem);
        line-height: 1em;
        font-weight: 900;
        margin-bottom: 0.5rem;
        color: var(--headerColorBlack);
        mix-blend-mode: screen;
        display: block;
        z-index: 10;
    }
    #sbs-r .cs-number:before {
        content: "";
        width: clamp(11.5rem, 45vw, 18.375rem);
        height: clamp(11.5rem, 45vw, 18.375rem);
        opacity: 1;
        background-color: var(--bodyTextColor);
        border-radius: 0.4375rem;
        position: absolute;
        display: block;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: -1;
    }
    #sbs-r .cs-desc {
        font-size: clamp(1rem, 4vw, 1.5625rem);
        font-weight: 700;
        line-height: 1.2em;
        text-transform: lowercase;
        text-align: center;
        width: 80%;
        color: var(--primary);
        position: relative;
        z-index: 10;
    }
    #sbs-r .cs-right {
        max-width: 32.625rem;
    }
    #sbs-r .cs-topper {
        font-size: var(--topperFontSize);
        line-height: 1.2em;
        text-transform: uppercase;
        text-align: center;
        letter-spacing: 0.1em;
        font-weight: 700;
        color: var(--secondary);
        margin-bottom: 0.25rem;
        display: block;
    }
    #sbs-r .cs-title {
        font-size: var(--headerFontSize);
        font-weight: 900;
        line-height: 1.2em;
        text-align: center;
        max-width: 50rem;
        margin: 0 auto 1rem;
        color: var(--headerColor);
        position: relative;
    }
    #sbs-r .cs-text {
        font-size: var(--bodyFontSize);
        line-height: 1.5em;
        text-align: center;
        width: 100%;
        max-width: 46.875rem;
        margin: 0 auto;
        margin-bottom: 1rem;
        color: var(--bodyTextColor);
    }
    #sbs-r .cs-text:last-of-type {
        margin-bottom: clamp(1.75rem, 4vw, 2.5rem);
    }
    #sbs-r .cs-call {
        font-size: 1.25rem;
        font-weight: 700;
        text-decoration: none;
        color: var(--primary);
    }
    #sbs-r .cs-button-solid {
        font-size: 1rem;
        line-height: clamp(2.875em, 5.5vw, 3.5em);
        text-decoration: none;
        font-weight: 700;
        text-align: center;
        margin: auto;
        color: var(--headerColor);
        min-width: 9.375rem;
        padding: 0 1.5rem;
        background-color: #999;
        border-radius: 0.25rem;
        display: inline-block;
        position: relative;
        z-index: 1;
        box-sizing: border-box;
        transition: color 0.3s;
    }
    #sbs-r .cs-button-solid:before {
        content: "";
        position: absolute;
        height: 100%;
        width: 0%;
        background: var(--primary);
        opacity: 1;
        top: 0;
        left: 0;
        z-index: -1;
        border-radius: 0.25rem;
        transition: width 0.3s;
    }
    #sbs-r .cs-button-solid:hover {
        transition: 0.5s;
    }
    #sbs-r .cs-button-solid:hover:before {
        width: 100%;
    }
}

@media only screen and (min-width: 64em) {
    #sbs-r {
        text-align: left;
    }
    #sbs-r .cs-container {
        flex-direction: row;
        justify-content: space-between;
        gap: 10rem;
    }
    #sbs-r .cs-left {
        width: 40vw;
        max-width: 32.5625rem;
        height: clamp(32.5rem, 51.9vw, 42rem);
        margin: 0;
        order: 2;
    }
    #sbs-r .cs-box {
        width: clamp(15.6875rem, 24.5vw, 20.3125rem);
        height: clamp(15.6875rem, 24.5vw, 20.3125rem);
        transform: none;
        left: calc(clamp(3.25rem, 5.5vw + 1.4rem, 6.375rem) * -1);
        bottom: clamp(3.875rem, 6.2vw, 5rem);
    }
    #sbs-r .cs-number:before {
        width: clamp(14.125rem, 22.7vw, 18.3125rem);
        height: clamp(14.125rem, 22.7vw, 18.3125rem);
    }
    #sbs-r .cs-topper,
    #sbs-r .cs-title,
    #sbs-r .cs-text {
        text-align: left;
    }
}

/*-- -------------------------- -->
<---          roadmaps          -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0em) {
    #roadmaps {
        text-align: center;
        padding: var(--sectionPadding);
        background: #4a4a4a;
    }
    #roadmaps .cs-container {
        width: 100%;
        max-width: 80em;
        margin: auto;
    }
    #roadmaps .cs-topper {
        font-size: var(--topperFontSize);
        line-height: 1.2em;
        text-transform: uppercase;
        text-align: center;
        letter-spacing: 0.1em;
        font-weight: 700;
        color: var(--primary);
        margin-bottom: 1rem;
        display: block;
    }
    #roadmaps .cs-title {
        font-size: var(--headerFontSize);
        font-weight: 900;
        line-height: 1.2em;
        text-align: center;
        max-width: 43.75rem;
        margin: 0 auto 1rem;
        color: var(--headerColor);
        position: relative;
    }
    #roadmaps .cs-text {
        font-size: var(--bodyFontSize);
        line-height: 1.5rem;
        text-align: center;
        width: 100%;
        max-width: 40.625rem;
        margin: 0 auto;
        margin-bottom: clamp(3rem, 6vw, 4rem);
        color: var(--bodyTextColor);
    }
    #roadmaps .cs-card-group {
        margin: 0;
        margin-bottom: clamp(3rem, 6vw, 4rem);
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        flex-direction: column;
        row-gap: 1rem;
    }
    #roadmaps .cs-item {
        list-style: none;
        max-width: 28.875rem;
        padding: clamp(2rem, 3vw, 2.5rem) clamp(1.75rem, 3vw, 2.5rem);
        background-color: #222629;
        border-radius: 1rem;
        border: 1px solid #fff;
        box-sizing: border-box;
        transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s, border 0.3s;
    }
    #roadmaps .cs-item:hover {
        background-color: #000;
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 50px;
        border: 1px solid var(--primary);
        transform: translateY(-0.4375rem);
    }
    #roadmaps .cs-item:hover .cs-picture:before {
        width: 100%;
        height: 100%;
        opacity: 1;
    }
    #roadmaps .cs-link {
        text-decoration: none;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    #roadmaps .cs-picture {
        width: 5rem;
        height: 5rem;
        margin: 0;
        margin-bottom: 1.5rem;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        background-color: #fff5e6;
        position: relative;
        z-index: 1;
    }
    #roadmaps .cs-icon {
        height: 2rem;
        width: auto;
    }
    #roadmaps .cs-h3 {
        font-size: 1.25rem;
        font-weight: 900;
        text-align: center;
        line-height: 1.2em;
        margin: 0;
        margin-bottom: 0.75rem;
        color: var(--headerColor);
        transition: color 0.3s;
    }
    #roadmaps .cs-item-p {
        font-size: 1rem;
        text-align: center;
        line-height: 1.5em;
        margin: 0;
        color: var(--bodyTextColor);
        transition: color 0.3s;
    }
    #roadmaps .cs-button-solid {
        font-size: 1rem;
        line-height: clamp(2.875em, 5.5vw, 3.5em);
        text-decoration: none;
        font-weight: 700;
        text-align: center;
        margin: auto;
        color: #fff;
        min-width: 9.375rem;
        padding: 0 1.5rem;
        background-color: #999;
        border-radius: 0.25rem;
        display: inline-block;
        position: relative;
        z-index: 1;
        box-sizing: border-box;
    }
    #roadmaps .cs-button-solid:before {
        content: "";
        position: absolute;
        height: 100%;
        width: 0%;
        background: var(--primary);
        opacity: 1;
        top: 0;
        left: 0;
        z-index: -1;
        border-radius: 0.25rem;
        transition: width 0.3s;
    }
    #roadmaps .cs-button-solid:hover:before {
        width: 100%;
    }
}

@media only screen and (min-width: 48em) {
    #roadmaps .cs-card-group {
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
        column-gap: 1.25rem;
    }
    #roadmaps .cs-item {
        width: 30vw;
        max-width: 25.8125rem;
    }
}

  /*-- -------------------------- -->
  <---            CTA             -->
  <--- -------------------------- -*/

  @media only screen and (min-width: 0em) {
    #cta {
        padding: var(--sectionPadding);
        position: relative;
        z-index: 1;
    }
    #cta a {
        text-decoration: none;
        color: var(--primary);
        font-size: 1.25rem;
        margin-top: 1%;
    }
    #cta a:hover {
        text-decoration: underline;
    }
    #cta .cs-container {
        width: 100%;
        max-width: 28.125em;
        margin: auto;
    }
    #cta .cs-topper {
        font-size: var(--topperFontSize);
        line-height: 1.2em;
        text-transform: uppercase;
        text-align: center;
        letter-spacing: 0.1em;
        font-weight: 700;
        color: var(--primary);
        margin-bottom: 0.25rem;
        display: block;
    }
    #cta .cs-title {
        font-size: var(--headerFontSize);
        font-weight: 900;
        line-height: 1.2em;
        text-align: center;
        max-width: 39.375rem;
        margin: 0 auto 1rem;
        color: var(--bodyTextColor);
        position: relative;
    }
    #cta .cs-text {
        font-size: var(--bodyFontSize);
        line-height: 1.5rem;
        text-align: center;
        width: 100%;
        max-width: 39.375rem;
        margin: 0 auto;
        margin-bottom: clamp(1.75rem, 4vw, 2.5rem);
        color: var(--bodyTextColorWhite);
    }
    #cta .cs-button-solid {
        font-size: 1rem;
        line-height: clamp(2.875em, 5.5vw, 3.5em);
        text-decoration: none;
        font-weight: 700;
        text-align: center;
        margin: auto;
        color: var(--headerColor);
        min-width: 9.375rem;
        padding: 0 1.5rem;
        background-color: #999;
        border-radius: 0.25rem;
        display: block;
        position: relative;
        z-index: 1;
        box-sizing: border-box;
        transition: color 0.3s;
    }
    #cta .cs-button-solid:before {
        content: "";
        position: absolute;
        height: 100%;
        width: 0%;
        background: var(--primary);
        opacity: 1;
        top: 0;
        left: 0;
        z-index: -1;
        border-radius: 0.25rem;
        transition: width 0.3s;
    }
    #cta .cs-button-solid:hover {
        transition: 0.5s;
    }
    #cta .cs-button-solid:hover:before {
        width: 100%;
    }
    #cta a:hover{
        text-decoration: none;
    }
    #cta .cs-background {
        width: 100%;
        height: 100%;
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
    }
    #cta .cs-background:before {
        content: "";
        width: 100%;
        height: 100%;
        background: var(--background);
        opacity: 0.6;
        position: absolute;
        display: block;
        top: 0;
        left: 0;
        z-index: 1;
    }
    #cta .cs-background img {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
}

@media only screen and (min-width: 48em) {
    #cta .cs-container {
        max-width: 80rem;
    }
    #cta .cs-title {
        width: 70vw;
    }
    #cta .cs-text {
        width: 75vw;
    }
    #cta .cs-button-solid {
        width: 13.875rem;
    }
}
@media only screen and (min-width: 81.25em) {
    #cta {
        background: url("../../assets/cta_bg.jpg");
        background-size: cover;
        background-position: center 20%;
        background-repeat: no-repeat;
        background-attachment: fixed;
    }
    #cta .cs-background img {
        display: none;
    }
}

/*-- -------------------------- -->
<---          Footer            -->
<--- -------------------------- -*/


@media only screen and (min-width: 0em) {
    #cs-footer {
        padding: clamp(3.75em, 7.82vw, 6.25em) 1em;
        background: var(--background);
    }
    #cs-footer .cs-container {
        width: 100%;
        max-width: 34.375em;
        margin: auto;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        flex-wrap: wrap;
        column-gap: clamp(4.25em, calc(10%), 6.25em);
    }
    #cs-footer .cs-logo-group {
        width: 100%;
        position: relative;
    }
    #cs-footer .cs-logo {
        width: clamp(13.125em, 8vw, 15em);
        height: auto;
        display: block;
        margin-bottom: clamp(1.75em, 4.17vw, 2.75em);
    }
    #cs-footer .cs-logo-img {
        width: 100%;
        height: auto;
    }
    #cs-footer .cs-logo-img.dark {
        display: none;
    }
    #cs-footer .cs-text {
        font-size: clamp(0.875rem, 2.5vw, 1rem);
        line-height: 1.5em;
        margin: 0;
        margin-bottom: 2rem;
        max-width: 33.75rem;
        color: var(--bodyTextColor);
    }
    #cs-footer .cs-nav {
        padding: 0;
        margin: 0;
    }
    #cs-footer .cs-nav-li {
        list-style: none;
        line-height: 1.5em;
        margin-bottom: 0.5rem;
    }
    #cs-footer .cs-nav-li:last-of-type {
        margin-bottom: 0;
    }
    #cs-footer .cs-header {
        font-size: 1rem;
        line-height: 1.5em;
        font-weight: 700;
        margin-bottom: 0.875rem;
        color: var(--bodyTextColor);
        position: relative;
        display: block;
    }
    #cs-footer .cs-nav-link {
        font-size: 1rem;
        text-decoration: none;
        line-height: 1.5em;
        color: var(--bodyTextColor);
        position: relative;
    }
    #cs-footer .cs-nav-link:before {
        content: "";
        width: 0%;
        height: 0.125rem;
        background: currentColor;
        opacity: 1;
        position: absolute;
        display: block;
        bottom: -0.125rem;
        left: 0;
        transition: width 0.3s;
    }
    #cs-footer .cs-nav-link:hover:before {
        width: 100%;
    }
    #cs-footer .cs-contact {
        margin: 0;
        padding: 0;
        width: auto;
        display: flex;
        flex-direction: column;
        align-self: stretch;
    }
    #cs-footer .cs-contact-li {
        list-style: none;
        margin-bottom: 0em;
    }
    #cs-footer .cs-contact-li:last-of-type {
        margin-bottom: 0;
    }
    #cs-footer .cs-contact-link {
        font-size: 1rem;
        text-decoration: none;
        line-height: 1.5em;
        text-align: left;
        color: var(--bodyTextColor);
        display: inline-block;
    }
    #cs-footer .cs-contact-link:hover {
        text-decoration: underline;
    }
    #cs-footer .cs-address {
        font-size: 1rem;
        margin-bottom: 1.25rem;
    }
    #cs-footer .cs-social-group {
        margin-top: auto;
        margin-left: auto;
    }
    #cs-footer .cs-social {
        display: inline-flex;
        justify-content: flex-start;
        gap: 0.75em;
    }
    #cs-footer .cs-social-link {
        width: 1.5rem;
        height: 1.5rem;
        background-color: #4e4b66;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        z-index: 1;
        transition: transform 0.3s, background-color 0.3s;
    }
    #cs-footer .cs-social-link:hover {
        background-color: var(--primary);
        transform: translateY(-0.1875rem);
    }
    #cs-footer .cs-social-img {
        height: 0.8125em;
        width: auto;
        display: block;
    }
}

@media only screen and (min-width: 48em) {
    #cs-footer .cs-container {
        max-width: 80em;
        row-gap: 0;
    }
    #cs-footer .cs-logo-group {
        width: auto;
        margin-right: auto;
    }
    #cs-footer .cs-text {
        width: 80%;
        max-width: 19.0625rem;
        margin: 0;
    }
    #cs-footer .cs-nav,
    #cs-footer .cs-contact {
        margin-top: clamp(0.5em, 1.2vw, 0.75em);
    }
}

  /*-- -------------------------- -->
  <---   css for small screens    -->
  <--- -------------------------- -*/

@media only screen and (max-width: 1142px) {
    nav .fas {
        display: block;
        font-size: 25px;
        cursor: pointer;
    }
    nav ul {
        background: #111;
        position: fixed;
        top: 0;
        right: -200px;
        width: 200px;
        height: 100vh;
        padding-top: 50px;
        z-index: 2;
        transition: right 0.5s;
    }
    nav ul li {
        display: block;
        margin: 25px;
    }
    nav ul .fas {
        position: absolute;
        top: 25px;
        left: 25px;
        cursor: pointer;
    }
}
